/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  padding: 3em;
  font-family: var(--text-font-family);
}
body::-webkit-scrollbar {
  display: none;
}

p {
  line-height: 2;
}

/*Branding*/
:root {
  --Primary-Light: hsla(333, 56%, 16%, 0.95);
  --Primary-Font-Light: hsla(204, 4%, 9%, 0.95);
  --Secondary-Light: hsla(332, 67%, 27%, 0.95);
  --Third-Light: hsla(332, 64%, 46%, 1);
  --Contrast-Light: hsla(20, 18%, 23%, 0.95);
  --White: hsl(240, 100%, 99%);
  --heading-font-family: "Saira", Helvetica;
  --text-font-family: "Lato", sans-serif;
}

/*Styling*/

/****MENU DE NAVIGATION****/
#navigation-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);

  padding: 0;
  height: 3em;
}
.nav_link {
  text-decoration: none;
  margin-right: 3em;
  color: #ffffff;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 5px; /*espacement de mes icones */

  border-radius: 4px;
  transition: 0.3s linear;
}

.nav_link ion-icon {
  color: #ffffff;
}

.hero_profil {
  display: flex;
  padding: 5em;
  height: 70vh;
  max-width: 70vw;
  margin: 0 auto;
}
.hero_profil h2 {
  margin-bottom: 1em;
}
.profile_section {
  padding: 0 20px;
  min-width: 20vw;
}
#about_me p {
  line-height: 1.5;
  margin-bottom: 1em;
}

.profile_section.profile-pic {
  width: 12.5em;
}
.title {
  font-family: var(--heading-font-family);
}

#first {
  text-decoration: underline;
}

#last {
  padding: 0.3125em; /* egal à 5px*/
  border: solid 1px black;
}

.header-img {
  width: 30em;
  margin: 2em;
  display: block;
  margin: auto;
}

button {
  padding: 6px 24px;
  margin-right: 1em;
  width: 11em;
  height: 3em;
}

.save_button {
  box-shadow: inset 0px 1px 0px 0px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 6px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.save_button:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}
.save_button:active {
  position: relative;
  top: 1px;
}
.cancel_button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #d4d4d4;
}
.cancel_button:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}
.cancel_button:active {
  position: relative;
  top: 1px;
}


/* page contact     */
#entetecontact {
  text-align: center;
  justify-content: center;
}
#h1contact {
  margin-top: 60px;
  text-transform: uppercase;
}
#lignerouge {
  height: 5px;
  width: 80px;
  background-color: red;
  margin: 20px auto 10px auto;
}
#pcontact {
  width: 60%;
  margin: auto;
}
#divrow {
  margin-top: 40px;
  display: flex;
}

#divrow2 {
  flex: 1;
}
.contact_details_container{
  /* display: flex; */
  /* flex-direction: row; */
  max-width: 50 vw;
  /* padding:3em; */
}

.blobs{
  text-align: center;
  color: white;
}
.blobs > *{
  justify-content: center;
}

.contact_details_container{
  display: flex;
  flex-direction: row;
  flex: 1;
justify-content: space-evenly;  
background-color: black;

}

.blobs{
  text-align: center;
  background-color: black;
  color: white;
  min-height: 30em;
  display: flex;
  flex-direction: column;
}
.blobs > *{
  width: 250px;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

